<div class="container-fluid col-xs-12 col-md-6 col-md-offset-3">
    <div class="form-group">
        <label for="jdrName">JDR Name:</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="jdrGenre">Genre:</label>
        <input type="text" class="form-control" id="genre">
    </div>
    <div class="form-group">
        <label for="description">Description (255 characters max)</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
</div>
<div class="container-fluid">
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
            <img src="../../../../assets/images/earthdawn.jpg" id="jdrimg" width="75%" alt="...">
            </span>
            
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
            <img src="../../../../assets/images/DD.jpg" id="jdrimg" width="75%" alt="...">
            </span>
            
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
            <img src="../../../../assets/images/DD2.jpg" id="jdrimg" width="75%" alt="...">
            </span>
            
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
            <img src="../../../../assets/images/chtulhu.jpg" id="jdrimg" width="75%" alt="...">
            </span>
            
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 ">
        <div class="input-group">
            <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
            <img src="../../../../assets/images/L5A.jpg" id="jdrimg" width="75%" alt="...">
            </span>
            
        </div>
    </div>
</div>
