<div class="row">
    <button class="btn btn-primary" id="createBtn" routerLink="/createjdr">Create JDR</button>
</div>

<div class="row" id="thumbs">
    <div *ngFor="let jdr of jdrs" class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="#" class="btn" role="button">
                <img src="../../../../assets/images/earthdawn.jpg" id="jdrimg" alt="...">
            </a>        
            <div class="caption">
                <h3>{{jdr.name}}</h3>
                <p>...</p>
                
            </div>
        </div>
    </div>
</div>