<div class="row" id="thumbs">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="#" class="btn" role="button">
                <img src="../../../../assets/images/earthdawn.jpg" id="jdrimg" alt="...">
            </a>        
            <div class="caption">
                <h3>Name</h3>                
            </div>
        </div>

    </div>
    <div class="col-xs-6 col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Description
        </div>
        <div class="panel-body">
          ...
        </div>
      </div>
    </div>
</div>
<div class="row col-xs-12">
  <div class=" panel panel-default">
    <div class="panel-heading">
      Attributs
    </div>
    <div class="panel-body">
        ...
    </div>
  </div>
</div>